

#reviews-scroll {
  overflow: scroll;
  height: 550px;
  background-color: honeydew;
}

.rating-breakdown-bar-container {
  background-color: rgb(192, 189, 189);
  width: 100px;
  height: 10px;
  border-radius: 5px;
}

.rating-breakdown-bar-filler {
  background-color: rgb(3, 172, 3);
  height: inherit;
  border-radius: inherit;
}

.gold {
  background-image: 'assets/images/full-gold-star.png';
}

.stars-row {
  display: flex;
}

.stars-column {
  flex: 20%
}