/* Ratings and Reviews Styles */
.ratings-grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  /* grid-template-rows: auto auto; */
  padding: 10px
}

#reviews {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
}

.ratings-left-sidebar {
  grid-column: 1;
}

#reviews-scroll {
  overflow: scroll;
  height: 550px;
  background-color: honeydew;
}

.rating-breakdown-bar-container {
  background-color: rgb(192, 189, 189);
  width: 70px;
  height: 10px;
  border-radius: 5px;
}

.rating-breakdown-bar-filler {
  background-color: rgb(3, 172, 3);
  height: inherit;
  border-radius: inherit;
}

.gold {
  background-image: 'assets/images/full-gold-star.png';
}

.stars-row {
  display: flex;
}

.stars-column {
  flex: 20%
}

.individual-rating-breakdown-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Overview */
.overview {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 2fr 1 fr;
  grid-gap: 1rem;
  border: solid 1px black;
}

.slider {
  display: flex;
  justify-content: center;
}

.overview-stars {
  display: flex;
}

.ovstar-column img {
  width: 2rem;
}

.product-info {
  border: solid 1px green;
  grid-column-start: 2 / span 1;
  grid-row-start: 1;
  display: grid;
  grid-template-rows: 1fr, 2fr, 1fr;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  gap: 5px;
}

.star-rating {
  display: inline-flex;
  align-items: center;
  padding-top: 15%
}

.star-rating > div {
  margin: 5px;
}

.style-photo {
  border-radius: 50%;
}



.selectors {
  /* display: inline-flex;
  height: 100%; */
  grid-row-start: 5;
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows: 1fr;
  align-items: stretch;
  gap: 1rem;
}

.size-selector {
  grid-column-start: 1;
  align-self: stretch
}

.size-selector-button {
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  align-self: stretch;
}

.quantity-selector {
  /* flex: 1;
  height: 3rem; */
  grid-column-start: 2;
  align-self: stretch;
}

.footer {
  grid-column-start: 1;
  grid-row-start: 2;
}


/* .category {
  grid-column-start: 2 / span 1;
  display: grid;
} */

.default-gallery {
  /* position: relative; */
  grid-column-start: 1 / 1;
  grid-row-start: 1;
  justify-content: center;
  border: solid 1px red;
}

.thumbnail-bar {
  position: absolute;
  left: 32px;
  top: 60px;
  z-index: 0;
}

.thumbnail-bar-opaque {
  position: absolute;
  left: 32px;
  top: 60px;
  z-index: 0;
  opacity: 0.3;
}

.click-state {
  border: 5px;
  border-color: chartreuse;
  border-style: inset;
  height: 70px;
  width: 50px;
  margin: 5px;
}

.base-state {
  height: 70px;
  width: 40px;
  margin: 5px;
}

.up-arrow {
  position: absolute;
  left: 15px;
  top: -30px;
}

.down-arrow {
  position: absolute;
  left: 15px;
  bottom: -30px;
}

.slider{
  position: relative;
}

.image {
  /* width: 590px;
  height: 700px; */
  border-radius: 10px;
  margin: 10px;
  max-height: 50vmax;
  max-width: 35rem;
}


.right-arrow {
  position: absolute;
  top: 50%;
  right: 800px;
  font-size: 3rem;
  color: purple;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 75px;
  font-size: 3rem;
  color: purple;
  cursor: pointer;
  user-select: none;
}


.hovered {
  cursor: nesw-resize;
  max-height: 50vmax;
  max-width: 100vmax;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8)
}

/* solution 1 */
.modal-box {
  position: fixed;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 60%;
  padding-top: 3rem;
  padding-right: 2rem;
  /* overflow-y: auto; */
  background-color: gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 2;
  /* padding: 40px; */
  cursor: zoom-in;

}

.modal-side-bar {
  justify-content: flex-start;
  margin: 2rem;
}


.zoom-out {
  display: flex;
  /* max-width: 50vmax; */
  width: 80%;
  height: 95%;
  top: calc(50% - 20vmax);
  left: calc(50% - 10vmax);
  right: calc(50% - 15vmax);


}

.zoom-in {
  transform: scale(2.5);
  cursor: zoom-out;
  max-width: 50vmax;
  max-height: 80vmax;

}

.icon-wrapper {
  top: 5%;
  position: relative;
  z-index: 0;
}

.thumbnail-icon {
  background-color: purple;
  color: purple;
  border-radius: 50%;
  width: 2%;
  margin: 10px;
  z-index: 1;
  position: absolute;
  content: ""
}

.thumbnail-icon:focus {
  background-color: chartreuse;
  color: chartreuse;
}


/*  Question and Answer Style */

.qAndA {
  height: auto;
  width: auto;
  margin-left: 20px;

}

.modalBackground {
  opacity:    1;
  /*background: #000;*/
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;

}

.question {
  color: black;
  font-weight: bold;
}

.answer {
  font-weight: lighter;

}

.seller {
  font-weight: bold;
}

.helpful {
  font-weight: lighter;
  text-align: right;
  margin-right: 20px;
  font-size: 12px;
}

.moreQuestion {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.addQuestion {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.addAnswer {
  font-weight: lighter;
  text-decoration: underline;
}

.aHeading {
  font-weight: bold;

}

.reported {
  color: red;
  font-weight: bold;
}
