/* Ratings and Reviews Styles */
.ratings-grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  /* grid-template-rows: auto auto; */
  padding: 10px
}

#reviews {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
}

.ratings-left-sidebar {
  grid-column: 1;
}

#reviews-scroll {
  overflow: scroll;
  height: 550px;
  background-color: honeydew;
}

.rating-breakdown-bar-container {
  background-color: rgb(192, 189, 189);
  width: 70px;
  height: 10px;
  border-radius: 5px;
}

.rating-breakdown-bar-filler {
  background-color: rgb(3, 172, 3);
  height: inherit;
  border-radius: inherit;
}

.gold {
  background-image: 'assets/images/full-gold-star.png';
}

.stars-row {
  display: flex;
}

.stars-column {
  flex: 20%
}

.individual-rating-breakdown-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.wrapper {
  position: relative;
}

.thumbnail-bar {
  position: absolute;
  left: 410px;
  top: 30px;
}

.click-state {
  border: 5px;
  border-color: chartreuse;
  border-style: inset;
  height: 70px;
  width: 50px;
  margin: 5px;
}

.base-state {
  height: 70px;
  width: 40px;
  margin: 5px;
}

.up-arrow {
  position: absolute;
  left: 15px;
  top: -30px;
  font-size: 30px;
  font-weight: 400;
  color: chartreuse;
}

.down-arrow {
  position: absolute;
  left: 15px;
  bottom: -30px;
}

.slider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.image {
  width: 590px;
  height: 700px;
  border-radius: 10px
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 300px;
  font-size: 3rem;
  color: purple;
  z-index: 10;
  cursor: pointer;
  user-select: none
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 300px;
  font-size: 3rem;
  color: purple;
  z-index: 10;
  cursor: pointer;
  user-select: none
}



